<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <form action="register/" method="post">
        姓名：<input type="text" name="name" value=""/>
        <br/>
        性别：<input type="radio" name="gender" value="1"/>男<input type="radio" name="gender" value="0"/>女
        <br/>
        年龄：<input type="text" name="age" value=""/>
        <br/>
        简介：<input type="text" name="introduction" value=""/>
        <br/>
        所属年级：<input type="radio" name="grade" value="1"/>大一<input type="radio" name="grade" value="2"/>大二
        <input type="radio" name="grade" value="3"/>大三<input type="radio" name="grade" value="4"/>大四
        <br/>
        <input type="submit" value="注册"/>
    </form>
</body>
</html>