{% extends 'myApp/base.html' %}
{% load static from staticfiles %}

{% block linkscript %}
<link rel="stylesheet" type="text/css" href="{% static 'shoppingcar/css/changeinfo.css' %}"/>

<script type="text/javascript" charset="utf-8" src="{% static 'shoppingcar/js/changeinfo.js' %}"></script>
{% endblock linkscript %}


{% block base %}
<div id="changeinfo">
    <h3 id="header">
        <a href="/shoppingcar/"><span>&laquo;</span></a>
        <b>修改订单信息</b>
    </h3>
    {# enctype 属性规定在发送到服务器之前应该如何对表单数据进行编码。multipart/form-data不对字符编码,在使用包含文件上传控件的表单时，必须使用该值 #}
    <form class="form-horizontal" action="/changeinfo/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group-addon"><span>收货人：</span></div>
        <input required="required" class="form-control" id="name" type="text" aria-describedby="basic-addonl" name="receiver"/>

        <div class="input-group-addon"><span>手机号码：</span></div>
        <input required="required" id="phone" type="text" class="form-control" placeholder="号码为11位有效数字" aria-describedby="basic-addonl" name="phonenumber"/>
        <span id="phonenum" class="error">手机号码输入格式有误</span>

        <div class="input-group-addon"><span >地址：</span></div>
        <input required="required" type="text" class="form-control" aria-describedby="basic-addonl" name="address"/>
        <br/>

        <div class="button"><input class="send" type="submit" value="确定" style="height:50px;width:100px;display:inline-block;font-size:30px"/></div>
    </form>
</div>
{% endblock base %}